.product-card {
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(240, 240, 240, 0.1);
  border-radius: 10px;
  background-color: #3d3d3d;
  border: 1px solid #000000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}

.product-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #2c3e50;
}

.product-card p {
  font-size: 1.1rem;
  color: #7f8c8d;
  text-overflow: ellipsis;
}

.product-card img {
  max-width: 100%;
  border-radius: 10px;
}

.greeting-container {
  text-align: center;
  margin-top: 20px;
}

.greeting-container p {
  font-size: 1.2rem;
  color: #cacaca;
}

.greeting-image {
  margin-top: 5px;
  width: 30px;
}
